<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="/libs/zepto.min.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
  </body>
</html>