<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <title><%=title%></title>
        <link rel='stylesheet' href='/css/app.css' />
    </head>
    <body>
        <div class="person-bg">
            <div class="person-up location">          
                <div class="main">
                    <h2 class="name-panel"><span></span>奚杉杉</h2>
                </div>
                <div class="tab clearfix">
                    <h3 class="tab-item"><a href="/person">个人信息</a></h3>
                    <h3 class="tab-item"><a href="/location">他在哪里？</a></h3>
                </div>
            </div>

            <div class="person-down">
                <div class="tab-container clearfix">
                    <ol class="tab-content location-info">
                        <li><b>某个会议室</b></li>
                        <li><b>某个会议室</b></li>
                        <li><b>某个会议室</b></li>
                        <li><b>某个会议室</b></li>
                        <li><b>某个会议室</b></li>
                        <li><b>某个会议室</b></li>
                        <li><b>某个会议室</b></li>
                        <li><b>某个会议室</b></li>
                    </ol>
                </div>
            </div>
        </div> 

        <script src="/libs/zepto.min.js" type="text/javascript"></script>
        <script src="/js/app.js" type="text/javascript"></script>
    </body>
</html>