*{padding:0;margin:0;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-backface-visibility:hidden}
body{font-family:normal 100% '微软雅黑','黑体',Helvetica,Arial,sans-serif;background-color:#fafafa}
-webkit-text-size-adjust: none,ul,ol{list-style:none}
a{text-decoration:none;outline:none}
.fl{float:left}
.fr{float:right}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}
.clearfix:after{clear:both}

body{width:100%}
.main{width:100%}
.search-panel{width:80%;padding:40% 0;margin:0 auto}
.form-wrapper{padding:15px;background:#444;background:rgba(0,0,0,0.2);border-radius:10px;box-shadow:0 1px 1px rgba(0,0,0,0.4) inset,0 1px 0 rgba(255,255,255,0.2)}
.form-wrapper input{box-sizing:border-box;width:100%;padding:11px 5px;float:left;font:bold 15px 'lucida sans','trebuchet MS','Tahoma';border:0;background:#eee;border-radius:3px 0 0 3px}
.form-wrapper input:focus{outline:0;background:#fff;box-shadow:0 0 2px rgba(0,0,0,0.8) inset}
.form-wrapper input::-webkit-input-placeholder{color:#999;font-weight:normal;font-style:normal}
.form-wrapper input:-moz-placeholder{color:#999;font-weight:normal;font-style:italic}
.form-wrapper input:-ms-input-placeholder{color:#999;font-weight:normal;font-style:italic}
.person-bg{width:100%;height:100%}
.person-up{position:relative;background:#ff7f00}
.person-down{height:100%;overflow-y:auto;overflow-x:hidden}
.main{box-sizing:border-box;padding:1em 1em 0;margin-bottom:1em}
.name-panel{font-weight:normal;color:#fff;font-size:2em}
.tab{width:100%}
.tab:before{position:absolute;content:'';border-width:0 .5em .5em .5em;border-style:solid solid solid solid;border-color:#fff transparent;left:10%;bottom:-1px;z-index:10}
.person .tab:before{left:23%}
.location .tab:before{left:73%}
.tab-item{width:50%;box-sizing:border-box;float:left;font-size:1em;text-align:center;font-weight:normal}
.tab-item a{display:block;padding:.8em;cursor:pointer;color:#fff}
.tab-content{padding:1em auto;width:100%;box-sizing:border-box;display:inline-block;vertical-align:top}
.person-info{list-style:none}
.person-info li{width:100%;float:left}
.person-info li span,.person-info li b{display:inline-block;box-sizing:border-box}
.person-info li span{float:left;width:5em;padding-left:1em;padding:.5em 0 .5em 1em;color:#777}
.person-info li b{padding:.5em 1em .5em .5em}
.location-info{list-style:decimal inside}
.location-info li{padding:.5em 1em;color:#999}
.location-info li:first-child{color:#f10}
.location-info li:nth-child(2){color:#f60}
.location-info li:nth-child(3){color:#f90}
.autoComplete{border:1px solid #ccc;border-style:none solid solid solid;list-style:none;position:absolute;margin:2.5em auto;box-sizing:border-box;width:56%}
.autoComplete li{background:#fff}
.autoComplete li:hover{background:#e54040}
.autoComplete a{color:#000;display:block}
.autoComplete a:hover{color:#fff}
.name-panel a{color:#fff;font-weight:bold}
.name-panel a:hover{color:#ccc}
